$main-blue: #264653;
$main-green: #2a9d8f;
$main-yellow: #e9c46a;
$main-orange: #f4a261;
$main-red: #e76f51;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.bagel-font {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
